<?xml version='1.0' encoding='utf-8'?>

    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "pt.zeta.babysitter"
        versionCode = "1" 
        version     = "1.0.2" >

    <name>BabySitter</name>

    <description>
        Aplicação para comparação e avaliação de BabySitters.
    </description>

    <author href="http://pastinhaprofissional.pt" email="hugoferreirapinto@gmail.com">
        Externato Vila Meã
    </author>
	
	<platform name="android" />
	
    <preference name="phonegap-version" value="cli-5.2.0" />
    <feature name="http://api.phonegap.com/1.0/device" />
	
    <preference name="orientation" value="portrait" />       <!-- all: default means both landscape and portrait are enabled -->
	
	<preference name="LoadingDialog" value="BabySitter,A Carregar..."/>
	<preference name="SplashScreenDelay" value="6000"/>
	
    <plugin name="org.apache.cordova.device" />
    <plugin name="org.apache.cordova.camera" />
    <plugin name="org.apache.cordova.media-capture" />
    <plugin name="org.apache.cordova.file" />
    <plugin name="org.apache.cordova.file-transfer" />
    <plugin name="org.apache.cordova.splashscreen" />
    <plugin name="org.apache.cordova.contacts" />
    <plugin name="org.apache.cordova.geolocation" />
    <plugin name="org.apache.cordova.inappbrowser" />
    <plugin name="org.apache.cordova.dialogs" />
    <plugin name="org.apache.cordova.vibration" />
    <plugin name="org.apache.cordova.network-information" />
    <plugin name="com.simplec.plugins.localnotification" source="pgb" />
	<plugin name="cordova-plugin-whitelist" />
	
	<icon src="icon.png" />
	
	<icon src="ldpi.png" platform="android" qualifier="ldpi" />
	<icon src="mdpi.png" platform="android" qualifier="mdpi" />
	<icon src="hdpi.png" platform="android" qualifier="hdpi" />
	<icon src="xhdpi.png" platform="android" qualifier="xhdpi" />
	<icon src="xxhdpi.png" platform="android" qualifier="xxhdpi" />
	<icon src="xxxhdpi.png" platform="android" qualifier="xxxhdpi" />
	
    <splash src="splash.png" />
    
    <splash src="res/screen/android/drawable-ldpi/splash.png"  platform="android" qualifier="ldpi" />
    <splash src="res/screen/android/drawable-mdpi/splash.png"  platform="android" qualifier="mdpi" />
    <splash src="res/screen/android/drawable-hdpi/splash.png"  platform="android" qualifier="hdpi" />
    <splash src="res/screen/android/drawable-xdpi/splash.png" platform="android" qualifier="xhdpi" />
    <splash src="res/screen/android/drawable-xxdpi/splash.png" platform="android" qualifier="xxhdpi" />
    <splash src="res/screen/android/drawable-xxxdpi/splash.png" platform="android" qualifier="xxxhdpi" />
	
    <content src="http://babysitter.zeta.pt" />
    <access origin="*" subdomains="true" />
</widget>
